.section-text{
    margin: 0;
    color: #3e3e3e;
    background: white;
    font-weight: bold;
    text-align: center;
}


.col-5{
    width: 19%;
    height: 200px;
    display: inline-block;
    margin: 5px 4px 0;
    text-align: center;
    background-color: #dedbdb;
}

.service-content{
    padding: 0.5em 0;
}
.service-text{
    padding: 10px;
    text-align: justify;
    bottom: 0;
}

.service-text.memebers{
    font-style: italic; 
}

.section-news > div:first-child{
    margin-bottom: 2px; 
}
.news{
    width: 100%;
    background-color: #263555;
    height: 290px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.news > div:first-child{
    margin: 0 6px;
}

.news-data{
    width: 49%;
    height: 99%;
    /**background-color: #b2b9c7;*/
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; 
}

.news-image{
    margin: 20px 0;
    padding: 0 5px;
    color: rgb(180, 55, 55);
}

.news-text{
    color: rgb(17, 91, 177);
    text-align: justify;
    width: 49%;
    padding: 1em 0;
}

.news-text > span.news-url{
    text-align: right;
}


.fa-ambulance.news-logo{
    padding: 0.25em 0;
}


.news-url{
    font-size: 10px;
    float: right;
}

.news-url > a{

    color: #ffffff; 
}

hr{
    color: white;
}



/* CARRUSEL */

  
  /* boton 1,2,3 */
  ul.slider{
    position: relative;
    width: 1700px;
    height: 300px;
  }
  
  /* imagenes carrusel */
  ul.slider li {
      position: absolute;
      left: -850px;
      top: 0px;
      opacity: 0;
      width: 2500px;
      height: inherit;
      transition: opacity .5s;
     
  }
  
  ul.slider li img{
    width: 3000px;
    height: 300px;
    object-fit: none;
    
  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
  }
  
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
  
  .menu{
    text-align: center;
    margin: 20px;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  }
  
  .menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
  }